.profile__edit-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: #000;
  background-image: url(../../../images/edite-pencil.png);
  border: 1px solid #fff;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 14px;
  margin-top: 15px;
  outline: none;
}

.profile__edit-button:hover {
  background-image: url(../../../images/edite-pencil-hover.png);
  background-position: center;
  opacity: 80%;
  border: 1px solid #fff;
}


@media (max-width: 420px){
  .profile__edit-button {
    margin-top: 7px;
    width: 18px;
    height: 18px;
    background-image: url(../../../images/edit18.png);
    background-position: center;
    border: 1px solid #fff;
    margin-left: 9px;
  }
}


