.profile__info {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  align-self: center;
}

@media (max-width: 984px){
  .profile__info {
    margin-left: 0;
  }
}

@media (max-width: 420px){
  .profile__info {
    margin-top: 22.25px;
    margin-left: 29px;
    grid-template-columns: 189px 30px;
  }
}
